@charset "utf-8";
#mobile-view {display:none;}
#dektopView {display:block;}
@media only screen and (max-width:809px) {
    #dektopView {display:none;}
    #mobile-view {display:block;background-color:#FFFFFF;}
    body{background-color:#FFFFFF !important;}
    #contact input[type="text"], #contact input[type="email"], #contact textarea, #contact select{height:60px;border:2px solid #b2b2b2;padding:2% 2% 2% 1%;border-radius: 6px;font-size: 20px;}
    .rgt-frm{background:#f7f7f1;}
}

/* CSS Document */
#mobile-view {
    padding: 0;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    width:100%;
    max-width:640px;
}
#mobile-view .container {
    width:100%;
    max-width:640px;
    margin: 0 auto;
    padding: 0;
}
#mobile-view .clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}
/* -------------
start section1
-------------- */
#mobile-view .getheight{float:left; width:100%;}
#mobile-view #section-one {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#mobile-view .sec-hight {
    height: 100%;
}
#mobile-view .top-logo {
    left: 280px;
    position: absolute;
    top: 24px;
}
#mobile-view .as-seen {
    position: absolute;
    top: 283px;
    left: 237px;
}
#mobile-view .usa {
    position: absolute;
    top: 362px;
    left: 47px;
    width: 416px;
    height: 468px;
    margin: -100px 0 0 -125px;
}
#mobile-view .s1-txt1 {
    text-align: left;
    font-size:26px;
    line-height:42px;
    color: #2c529d;
    letter-spacing: -0.7px;
    margin: 0;
    padding:35px 0 0 219px;
}
#mobile-view .s1-txt2 {
    font-family: 'geomanistblack';
    text-transform: uppercase;
    font-size: 48px;
    line-height: 47px;
    text-align: left;
    letter-spacing: -2px;
    color: #f47a30;
    margin: 0;
    padding: 4px 0 0 216px;
}
#mobile-view .s1-txt3 {
    margin: 0 0 0 0;
    padding: 20px 0 0 222px;
    font-family: 'Conv_Geomanist-Light';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 4px;
    color: #fff;
    margin: 0;
}
#mobile-view .s1-txt3 li {
    display: inline-block;
    width: 110px;
    list-style: none;
    font-family: 'Conv_Geomanist-Light';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 4px;
    color: #fff;
    margin: 0;
    padding: 0 33px 0 0;
}
#mobile-view .s1-txt3 li:nth-child(3) {
    padding: 0 0 0 9px;
}
#mobile-view .s1-list {
    margin: 0 0 0 0;
    padding: 59px 0 0 240px;
}
#mobile-view .s1-list li {
    background: url(../images/icon.png) left top no-repeat;
    font-size: 24px;
    line-height: 30px;
    color: #2e4555;
    width: 344px;
    list-style: none;
    letter-spacing: -0.6px;
    margin: 0 0 0 0;
    padding: 0 0 22px 50px;
}
#mobile-view .s1-list li:nth-child(2) {
    padding: 0 0 0 50px;
}
#mobile-view .s1-list li:nth-child(3) {
    padding: 0 0 0 50px;
    margin: 25px 0 0 0;
}
#mobile-view .s1-list li:nth-child(4) {
    padding: 0 0 0 50px;
    margin: 31px 0 0 0;
}
#mobile-view .s1-txt4 {
    height: 24px;
    font-weight:normal;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 6px 0 0 213px;
}
#mobile-view .s1-list2 {
    margin: 13px auto;
    width: 80%;
}
#mobile-view .s1-list2 li {
    display: inline-block;
    background: url(../images/plus.png) left 8px no-repeat;
    font-family: 'Conv_Geomanist-Medium';
    font-size: 14.56px;
    line-height: 12.97px;
    letter-spacing: 2px;
    color: #713a86;
    text-align: center;
    width: 107px;
    text-transform: uppercase;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 9px 0 17px;
}
#mobile-view .s1-list2 li:nth-child(1) {
    background: none;
}
#mobile-view .s1-list2 li:nth-child(2) {
    padding: 0 7px 0 18px;
}
#mobile-view .s1-list2 li:nth-child(3) {
    width: 150px;
    padding: 0 0 0 20px;
}
/* -------------end section1-------------- */

/* -------------start section2-------------- */
#mobile-view #section-two {
    height: 930px;
    margin: 0 auto;
    padding: 0 0 0 0;
}
#mobile-view .s2-txt1 {
    font-family: 'geomanistblack';
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.6px;
    color: #050404;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
#mobile-view .s2-txt2 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #282828;
    letter-spacing: -0.4px;
    margin: 0 auto;
    padding: 20px 1% 0 1%;
}
#mobile-view .both-part {
    margin: 0 0 0 0;
    padding: 36px 0 0 0;
}
#mobile-view .s2-lft, .s2-rgt {
    display: inline-block;
    float: left;
}
#mobile-view .s2-lft {
    width: 191px;
}
#mobile-view .s2-img1 {
    padding: 0 0 0 16px;
}
#mobile-view .s2-rgt {
    width: 446px;
}
#mobile-view .s2-lft2, .s2-rgt2 {
    display: inline-block;
    float: left;
    margin: 10px 0 0 0;
}
#mobile-view .s2-lft2 {
    width: 191px;
}
#mobile-view .s2-img1 {
    padding: 0 0 0 16px;
}
#mobile-view .s2-rgt2 {
    width: 446px;
}
#mobile-view .s2-rgt-txt {
    font-weight:normal;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #282828;
    letter-spacing: -0.4px;
    margin: 0 auto;
    padding: 40px 1% 0 1%;
}
#mobile-view .s2-rgt2-txt {
    font-weight:normal;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #282828;
    letter-spacing: -0.4px;
    margin: 0 auto;
    padding: 40px 1% 0 1%;
}

/* -------------start section3-------------- */
#mobile-view #section-three {
    height: 1036px;
    margin: 0 auto;
    padding: 0 0 0 0;
    position: relative;
}
#mobile-view .s3-txt1 {
    font-family: 'geomanistblack';
    font-size: 38px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -2px;
    color: #5a266e;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 40px 0 0 3%;
}
#mobile-view .s3-line {
    float: left;
    padding: 0 0 0 0;
    margin: 1% 0 0 3%;
}
#mobile-view .s3-txt2 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #282828;
    letter-spacing: -0.4px;
    margin: 0 0 0 0;
    width: 570px;
    padding: 40px 0 0 3%;
}
#mobile-view .s3-bg {
    background: url(../images/s3-mid-bg.png) center top no-repeat;
    height: 140px;
    margin: 40px 0 0 0;
}
#mobile-view .s3-txt3 {
    text-transform: uppercase;
    font-size: 39px;
    line-height: 40px;
    text-align: left;
    color: #fff;
    letter-spacing: -1.5px;
    margin: 0 0 0 0;
    padding: 10px 0 0 2%;
}
#mobile-view .s3-modal {
    position: absolute;
    top: 470px;
    right: 0px;
}
#mobile-view .seal {
    margin: 10px 0 0 110px;
}
#mobile-view .s3-txt4 {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    font-weight:normal;
    text-align: left;
    color: #232323;
    letter-spacing: -0.4px;
    margin: 0 0 0 0;
    width: 370px;
    padding: 25px 0 0 3%;
}
#mobile-view .order-bg {
    height: 113px;
    background: #f7c300;
    margin: 29px 0 0 0;
}
#mobile-view .order-bg-txt {
    font-size: 24px;
    line-height: 30px;
    font-weight:normal;
    text-align: center;
    color: #262626;
    letter-spacing: -0.4px;
    margin: 0 auto;
    padding: 26px 0 0 0;
}
/* -------------start section4-------------- */
#mobile-view #section-four {
    margin: 0 auto;
    padding: 0 0 0 0;
    position: relative;
}
#mobile-view .s4-txt1, #mobile-view .s4-txt2 {
    font-weight:normal;
    font-size: 21px;
    line-height: 28px;
    text-align: left;
    color: #303030;
    letter-spacing: -0.4px;
    margin:4px;
    padding:8px;
}
#mobile-view .s4-txt2 {
    width:98%;
}
#mobile-view .doc {
    position:relative;
    top:4px;
    left:0px;
}
#mobile-view .seal2 {
    position:absolute;
    top:130px;
    left:55%;
}
#mobile-view .blood-img {
    position:relative;
}
#mobile-view .orange-bg {
    position: relative;
    top: 15px;
    left: 0;
    background:#E66120;
    padding:1rem;
}
#mobile-view .orange-bg img{
    display:none;
}
#mobile-view .orange-bg-txt {
    position: relative;
    top: 0;
    left: 0;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -1px;
    text-align: left;
    color: #fff;
    font-weight:normal;
}
#mobile-view .s4-txt3 {
    font-weight:normal;
    font-size: 23px;
    line-height: 29px;
    text-align: left;
    color: #0e0e0e;
    width: 256px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    margin: 0;
    padding: 1rem;
}

#mobile-view .s4-txt3 br{
    display:none;
}
#mobile-view .points-text{
    position:relative;
}
#mobile-view .s4-body, #mobile-view .s4-body-sub{
    position:relative;
    width:98%;
    display:inline-block;
    margin:8px;
    margin-bottom:-12px;
}
#mobile-view .s4-body-half{
    position:relative;
    width:50%;
    padding:0px;
    margin:30px 0px 0px;
    float:left;
    display:inline-block;
}
#mobile-view .s4-body-left{
    position:relative;
    width:40%;
    padding:0px;
    margin:0px;
    float:left;
    display:inline-block;
}
#mobile-view .s4-body-right{
    position:relative;
    width:60%;
    padding:0px;
    margin:0px;
    float:left;
    display:inline-block;
}
#mobile-view .s8-body{
    position:relative;
    width:98%;
    display:inline-block;
    margin:8px;
    text-align:left;
    padding:10px 0px;
}
#mobile-view .s8-body-left{
    position:relative;
    width:40%;
    padding:0px;
    margin:0px;
    float:left;
    display:inline-block;
}
#mobile-view .s8-body-right{
    position:relative;
    width:60%;
    padding:0px;
    margin:0px;
    float:left;
    display:inline-block;
}
#mobile-view .s4-img {
    position: absolute;
    float:right;
    right: 10px;
}
#mobile-view .s4-txt4 {
    font-weight:normal;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #e66120;
    width: 283px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    font-style: italic;
    margin: 0 0 0 0;
    padding: 0 1% 0 9%;
}
#mobile-view .step1 {
    position: relative;
    top: 10px;
    left: 0;
}
#mobile-view .step2 {
    position: relative;
    top: 10px;
    left: 0;
}

/* -------------start section5-------------- */
#mobile-view #section-five {
    margin: 0 auto;
    padding: 0 0 0 0;
}
#mobile-view ul.sec5-list {
    margin: 0 auto;
    padding: 0 0 0 0;
}
#mobile-view ul.sec5-list li {
    font-size: 24.2px;
    line-height: 30.2px;
    color: #2d2d2d;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 10px 4% 10px 4%;
}
#mobile-view ul.sec5-list li img {
    max-width: 100%;
}
#mobile-view .seal-bg {
    position: relative;
    height: 144px;
    margin: 0 0 0 0;
}
#mobile-view .s5seal {
    position: absolute;
    top: 10px;
    left: 10px;
}
#mobile-view .seal-txt1 {
    font-size: 22px;
    text-align: left;
    color: #f47a30;
    line-height: 28px;
    font-weight:normal;
    letter-spacing: -0.6px;
    font-style: italic;
    margin: 0 0 0 0;
    padding: 23px 20px 0 146px;
}
/* -------------end section5-------------- */

/* -------------start section6-------------- */
#mobile-view #section-six {
    margin: 0 auto;
    padding: 0 0 0 0;
}
#mobile-view ul.sec6-list {
    margin: 0 auto;
    padding: 50px 0 0 0;
}
#mobile-view ul.sec6-list li {
    font-size: 24.2px;
    line-height: 30px;
    color: #2d2d2d;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 10px 4% 10px 4%;
}
#mobile-view .s6-last-bg {
    height: 219px;
    margin: -18px 0 0 0;
}
#mobile-view .s6-last-bg-txt {
    font-size: 20px;
    line-height: 26px;
    color: #353535;
    text-align: left;
    padding: 96px 0 0 3%;
    letter-spacing: -0.4px;
    margin: 0;
}
/* -------------start section7-------------- */
#mobile-view #section-seven {
    background: #ffffff url(../images/section7mob.jpg) center top no-repeat;
}
#mobile-view .s7-txt1 {
    font-family: 'geomanistblack';
    font-size: 38px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -2px;
    color: #5a266e;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 40px 0 0 0;
}
#mobile-view .s7-line {
    padding: 0 0 0 0;
    margin: 2% 0 0 0;
}
#mobile-view .s7-txt2 {
    font-weight:normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #303030;
    letter-spacing: -0.4px;
    margin: 0 auto;
    padding: 20px 3% 0 3%;
}
#mobile-view .s7-slid-img {
    margin: 0 auto;
    padding: 18px 0 0 0;
}
#mobile-view .sec7-text3 {
    font-size: 24px;
    line-height: 30px;
    color: #161616;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    width: 568px;
    padding: 19px 0 0 0;
}
#mobile-view .stars {
    margin: 0 auto;
    padding: 15px 0 10px 0;
}
#mobile-view .sec7-text4 {
    font-size: 22px;
    font-weight:normal;
    color: #f47a30;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0 0 0;
}
#mobile-view .sec7-text5 {
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    color: #b2b2b2;
    margin: 0 auto;
}
/* -------------start section8-------------- */
#mobile-view #section-eight {
    background: url(../images/sectiom8_mob.jpg) center top no-repeat;
    position: relative;
}
#mobile-view .s8-logo {
    position:relative;
    top:-10px;
}
#mobile-view .s8-usa {
    position:absolute;
    top:290px;
}
#mobile-view .s8-txt1 {
    font-family: 'geomanist_regularregular';
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #2c529d;
    letter-spacing: -0.5px;
    margin:0px;
    padding:12px 4px;
}
#mobile-view .s8-txt2 {
    font-family: 'geomanistblack';
    text-transform: uppercase;
    font-size:48px;
    line-height:38px;
    text-align: left;
    letter-spacing: -2px;
    color: #f47a30;
    margin: 0;
    padding: 0px;
    padding-bottom:10px;
}
#mobile-view .s8-list {
    margin: 0 0 0 0;
    padding:24px 4px;
}
#mobile-view .s8-list li {
    background: url(../images/icon.png) left top no-repeat;
    font-size: 24px;
    line-height: 30px;
    color: #2e4555;
    width: 344px;
    list-style: none;
    letter-spacing: -0.6px;
    margin: 0 0 0 0;
    padding: 0 0 22px 50px;
}
#mobile-view .s8-list li:nth-child(2) {
    padding: 0 0 0 50px;
}
#mobile-view .s8-list li:nth-child(3) {
    padding: 0 0 0 50px;
    margin: 25px 0 0 0;
}
#mobile-view .s8-list li:nth-child(4) {
    padding: 0 0 0 50px;
    margin: 31px 0 0 0;
}
#mobile-view .s8-txt4 {
    font-weight:normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0 !important;
    float:right;
    min-width:60%;
}


/* -------------start section9-------------- */
#mobile-view #section-nine {
    margin: 0 auto;
    position: relative;
    padding: 0 0 0 0;
}

/* ------------CTA & Footer-------------- */
#mobile-view .fixbox {
    width: 640px;
    z-index: 990;
    padding: 20px 20px 130px;
}
#mobile-view .stick_bar {
    background: #5a266e;
    height: 149px;
    bottom: 0;
    width: 640px;
    z-index: 999;
    position:fixed;
}
#mobile-view .bottle {
    position: absolute;
    left: 12px;
    bottom: 0;
    width: 259px;
    height: 257px;
}
#mobile-view .btn, #mobile-view .security2 {
    float: right;
    margin: 9px 11px 0 20px;
}
#mobile-view .security2 {
    margin: 7px 150px 0 0;
}
#mobile-view .legal {
    color: white;
    text-align: center;
    padding: 10px 0px;
}
#mobile-view .footer {
    height: 80px;
    background: #fff;
    width: 100%;
}
#mobile-view .ftrtxt {
    font-size: 17px;
    color: #887070;
    text-align: center;
    line-height: 28px;
    padding: 0;
    margin: 0;
}
#mobile-view .ftrtxt a, #mobile-view .ftrtxt a:hover {
    color: #887070;
    text-decoration: none;
}


/* ---------start arrows---------- */
#mobile-view .lead-scroll {
    position: absolute;
    bottom: -170px;
    left: 50%;
    margin-left: -70px;
    padding: 0px 0;
    width: 140px;
    height: 100px;
    z-index: 100;
}
#mobile-view .lead-scroll .arrows {
    width: 60px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 142px;
}
#mobile-view svg:not(:root) {overflow: hidden;}
#mobile-view svg {max-height: 100%;}
#mobile-view .lead-scroll .arrows path {
    stroke: #9e63b5;
    fill: transparent;
    stroke-width: 4px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}
#mobile-view .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}
#mobile-view .arrows path.a2 {
    animation-delay: -.5s;
    -webkit-animation-delay: -.5s;
}
#mobile-view .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
#mobile-view div#bottomarrows {
    margin-bottom: 180px;
}
#mobile-view div#bottomarrows {
    margin-left: 160px;
}
@keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}80% {opacity:0}
    100% {opacity:0}
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

/*--------------------heartbeat -----------------*/

/* ----------------- end section nine ------------- */
#mobile-view .pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {transform: scale(0.9);opacity: 0.9;}
    50%{transform: scale(1);opacity: 1;}
    100% {transform: scale(0.9);opacity: 0.9;}
}
@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(0.95);opacity: 0.7;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 0.7;}
}
#section-one {
    background-image: url(../images/section1_mob.jpg) !important;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-repeat: no-repeat;
}
.objectCls {
    margin: 0 0 7px 0;
}
.brd-btm {
    border-bottom: 1px solid #d1d1d1;
    margin: 15px 0 0 0;
}

#mobile-view img {border: none;}
#mobile-view li {list-style: none;}
#mobile-view *{ box-sizing:border-box;}
.hidden{display:none;}
#mobile-view .container {
    width: 640px;
    margin: 0 auto;
    padding: 0;
}
#mobile-view .policy_wrapper {
    font-size: 14px;
    color: #000;
    text-align: center;
    font-size: 17px;
    color: #887070;
    margin-bottom:20px;
}
#mobile-view .policy_wrapper  p{ margin:0;}
#mobile-view .policy_wrapper a {
    color: #887070;
    text-decoration: none;
}
#mobile-view .spng-hd {height: 139px;}
#mobile-view .spng-hd-sel {height: 30px;}
#mobile-view .sping-logo {
    float: left;
    width: 170px;
    margin: 20px 0 0 15px;
}
#mobile-view .sping-us-flag {
    float: right;
    margin: 19px 13px 0 0;
}
#mobile-view .brd-btm {
    border-bottom: 1px solid #d1d1d1;
    margin: 15px 0 0 0;
}
#mobile-view .shipping-hd {
    display: block;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
#mobile-view .shipping-hd img {margin:auto;}
#mobile-view div#trialsec2 {
    background: none;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#mobile-view .trial-top {padding: 0% 0 0% 0;}
#mobile-view .trial-toptxt1 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    margin: 2% auto 0 auto;
    padding: 1% 0;
    background: #5a286e;
}
#mobile-view .trialform {
    margin: 0 auto;
    display: table;
    background: #ffffff;
    width: 100%;
}
#mobile-view .trialfrmmid {
    background-size: 100%;
    display: table;
    width: 100%;
}
#mobile-view .frmelmnts2 {
    margin: 1% 0 0 0;
    clear: both;
    padding:0  2.5%;
}
#mobile-view .frmelmnts2 label {
    width: 100%;
    font-size: 21px;
    color: #000;
    text-align: left;
    line-height: 39px;
    margin-right: 2%;
}
#mobile-view .frmelmnts2 input, .frmelmnts2 select {
    width: 100%;
    height: 70px;
    line-height: normal;
    padding: 2% 2% 2% 1%;
    border-radius: 6px;
    font-size: 20px;
    color: #000;
    text-align: left;
    border: 1px solid #b2b2b2;
    margin: 5px auto;
    -webkit-appearance:none;
}
#mobile-view .frmelmnts2 select {
    width: 100%;
    height: 70px;
}
#mobile-view .upbtm {
    height: auto;
    background: #5a266e;
    padding: 0% 0 2% 0;
    margin-top: 3%;
}
#mobile-view .scure-lock {
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    color: #fff;
    margin: 0 auto;
    padding: 8px 0 0 0;
}
#fix-footer .btn{width:auto;}
.objectCls img,.sec7-text4 img{margin:auto;}
.spng-hd.steps {
    display: table;
    margin: 20px auto;
    width: 96%;
    text-align: center;
    padding: 0;
    position: relative;
}
/* Mobile form Styles */
.spng-hd.steps{display:table;margin:20px auto;width:96%;text-align:center;padding:0;position:relative;}
.spng-hd.steps::before{content:'';position:absolute;width:68.5%;height:7px;border-radius:7px;-webkit-border-radius:7px;background:#B9B9B9;left:50%;top:8px;transform:translateX(-50%);-webkit-transform:translateX(-50%);box-shadow:inset 0 2px 1px rgba(0,0,0,0.1);}
.spng-hd.steps .steps__item{position:relative;width:33.333%;display:inline-block;margin:0;padding:0;float:left;text-align:center;}
.spng-hd.steps .steps__item .steps__circle{width:24px;height:24px;text-align:center;color:#fff;font-size:13px;font-weight:600;border-radius:100%;-webkit-border-radius:100%;background:#B9B9B9;margin:auto;border:2px solid transparent;box-sizing:border-box;line-height:19px;}
.spng-hd.steps .steps__item .steps__circle.active{background:#713A86;border:2px solid #B8B8B8;}
.spng-hd.steps .steps__item .steps__caption{display:block;clear:both;margin:auto;text-align:center;font-size:13px;color:#999;}
.billing-text .choice-text{text-align:center;}
#editable94{width:auto;margin:auto;}
#mobile-wrapper #contact button.btn{height:56px;}